html , body{
    background-color: #da2724;
}
body {
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: local('Play'), url(http://themes.googleusercontent.com/static/fonts/play/v4/IkErdnKw9ItVkLeeur9GHfesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

#logo {
    background-color: #da2724;
    vertical-align: middle;
    width: 15%;
}

#texto{
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.logo{
    margin-left: auto;
    margin-right: auto;
}

/*Mapa*/
.subunit {
    fill: #da2724;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}

/*Try with cubic bezier: cubic-bezier(n,n,n,n);*/
.subunit:hover {
    fill: #fff;
    stroke: #da2724;
    /*stroke-dasharray: 2,2;
    stroke-linejoin: round;*/
}
.subunit-boundary {
    fill: none;
    stroke-dasharray: 2, 2;
    stroke-linejoin: round;
}

/*Tipsy*/
.tipsy {
    font-size: 10px;
    position: absolute;
    padding: 5px;
    z-index: 100000;
}
.tipsy-inner {
    background-color: #000;
    color: #FFF;
    max-width: 200px;
    padding: 5px 8px 4px 8px;
    text-align: center;
}
/* Rounded corners */

.tipsy-inner {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Uncomment for shadow */

.tipsy-inner {
    box-shadow: 0 0 5px #000000;
    -webkit-box-shadow: 0 0 5px #000000;
    -moz-box-shadow: 0 0 5px #000000;
}
.tipsy-arrow {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    border: 5px dashed #000;
}

/* Rules to colour arrows */

.tipsy-arrow-n {
    border-bottom-color: #000;
}
.tipsy-arrow-s {
    border-top-color: #000;
}
.tipsy-arrow-e {
    border-left-color: #000;
}
.tipsy-arrow-w {
    border-right-color: #000;
}
.tipsy-n .tipsy-arrow {
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
    top: 0;
    left: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
    top: 0;
    right: 10px;
    border-bottom-style: solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
    bottom: 0;
    left: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
    bottom: 0;
    right: 10px;
    border-top-style: solid;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
    right: 0;
    top: 50%;
    margin-top: -5px;
    border-left-style: solid;
    border-right: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
    left: 0;
    top: 50%;
    margin-top: -5px;
    border-right-style: solid;
    border-left: none;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

/*Indica si el centro es SICUE o no*/
.sicue {
    fill: #fff;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}

.panel-primary {
    border-color: #da2724;
}
.panel-primary>.panel-heading {
    background-color: #da2724;
    border-color: #da2724;
}


#banner{
    margin-left: 40px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*Intento de diseño responsive*/
@media (min-device-width: 480px) {
    #content {
        display: inline;
    }
}

/*Panel de resultados*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.foto-uni{
    max-width: 50px;
    max-height: 50px;
    min-width: 40px;
    width: 100%;
}

#map-canarias{
  border-top: 1px solid #da2724;
  border-left: 1px solid #da2724;
}
#urls{
    margin-right: 3px;
    margin-left: 3px;
}
#urls>p{
    color: #da2724;
}
.referencia{
    color:#da2724;
}
.referencia:hover{
    color:#da2724;
}