{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css">
    <link rel="stylesheet" type="text/css" href="{% static 'mapa/css/modal.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mapa/css/style.css' %}" media="screen">

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <title>{% trans 'Mapa de tasas' %}</title>
</head>

<body>
<div id="banner">
    <a href="http://ritsi.org"><img id="logo" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" alt="{% trans 'Logo de RITSI' %}" src="{% static 'mapa/img/logoritsi-texto.png' %}">
    </a>

    <img id="texto" class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" alt="Logo de RITSI" src="{% static 'mapa/img/tasas_ritsi.png' %}" style="filter:invert(100)">
</div>


<div id="content">
    <div class="tabs-content">
        <ul class="tabs">
            <li class="tab-link" data="grado">TASAS DE GRADO</li>
        </ul>
    </div>
    <div id="maps">
        <div id="map" class="well well-lg col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1"></div>
    </div>
    <div id="lista_unis">
        <div id="bootstrap_lista_units" class="well col-xs-5 col-sm-5 col-md-5 col-lg-5" style="margin-left:10px;  margin-right:10px;">
            <p>Haz click en una provincia para conocer la oferta de estudios de grado.</p>
        </div>
    </div>
    <div id="tasa-modal" class="modal">
    </div>
    {% load tasas_tags %}
    {% with 20 as margin%}
        {% cookielaw_alert %}
    {% endwith %}
</div>

<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
    <center>Copyright 2019. Creado por @alternhuman para RITSI y mantenido por la Comisión de Infraestructuras.</center>
</div>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.1.0/topojson.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>

<script type="text/javascript" src="{% static 'mapa/js/jquery.tipsy.js' %}"></script>
<script type="text/javascript" src="{% static 'mapa/js/analytics.js' %}"></script>
<script type="text/javascript">
    var mapa_url = "{{ mapa }}";
    var template_universidad_provincia_url = "{{ template_universidad_provincia }}";
    var template_universidad_detalle_url = "{{ template_universidad_detalle }}";
    var tipos_tasas = {};
    tipos_tasas.GRADO = 0;
    tipos_tasas.MASTER = 1;
</script>
<script type="text/javascript" src="{% static 'mapa/js/mapa.js' %}"></script>
<script type="text/javascript" src="{% static 'mapa/js/modal.js' %}"></script>
<script>
    gaTrack();
</script>
</body>

</html>
