{% extends 'mapa/base.html' %}
{% block content %}
    <div class="container" style="margin: 0 auto; width:80%;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reporte
                </div>

                <div class="panel-body">
                    <p>Datos enviados</p>
                    <a href="/">Volver al mapa</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
