{% extends 'tasas/base.html' %}
{% load staticfiles i18n increment widget_tweaks %}
{% block header %}
    {{ block.super }}
    <title>{% trans 'Editando:' %} {{ uni.nombre }}</title>
{% endblock header %}
{% block footer %}
{{ block.super }}
    <script src="{% static 'tasas/js/edit.js' %}" type="text/javascript"></script>
{% endblock footer %}
{% block content %}
    {{ block.super }}

    <form id="tasas-form" method="post" action="">
        <div class="col-md-6 lista">
            <div class="list-tasas">
                <div id="tasas-grado">
                    <h1>{% trans "Tasas de grado" %}</h1>
                    {%  for form in form_tasas_grado %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <label class="has-error">{{ form.non_field_errors }}</label>
                            {% csrf_token %}
                            <div class="input-group basics">
                                <label class="control-label">
                                    {% trans "Curso académico" %}
                                    <span class="curso"> {{form.curso.value}}/ {% increment form.curso.value %}</span>
                                </label>
                                <br>{# {{ form.tipo.errors }} #}
                                {{ form.tipo|add_class:"form-control tipo-tasa-selector" }}
                                <br>
                                <label class="has-error">{{form.url.errors}}</label>
                                <label for="{{ form.url.id_for_label }}">{% trans "URL" %}</label>
                                    {{ form.url|add_class:"form-control"}}
                            </div>
                            <div class="input-group tasas-data">
                                <div style="display:{% if form.tipo.value == 0 %}initial{% else %}none{% endif %}" class="porcredito tipo-tasa">{{form.tasas1.errors}}
                                    <label>{% trans "Precios por crédito" %}</label>
                                    <div class="input-group">
                                        <label for="{{ form.tasas1.id_for_label }}">{% trans "Primera convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas1.errors }}</label>
                                            {{ form.tasas1|add_class:"form-control" }}<br>
                                        <label for="{{ form.tasas2.id_for_label }}">{% trans "Segunda convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas2.errors }}</label>
                                            {{ form.tasas2|add_class:"form-control" }}<br>
                                        <label for="{{ form.tasas1.id_for_label }}">{% trans "Tercera convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas3.errors }}</label>
                                            {{ form.tasas3|add_class:"form-control" }}<br>
                                        <label for="{{ form.tasas1.id_for_label }}">{% trans "Cuarta convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas4.errors }}</label>
                                            {{ form.tasas4|add_class:"form-control" }}<br>
                                    </div><br>
                                </div>
                                <div style="display:{% if form.tipo.value == 1 %}initial{% else %}none{% endif %}" class="global tipo-tasa">
                                    <div class="input-group">
                                        <label for="{{ form.tasa_global.id_for_label }}">{% trans "Tasa global" %}</label>
                                            <label class="has-error">{{ form.tasa_global.errors }}</label>
                                            {{ form.tasa_global|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div style="display:{% if form.tipo.value == 2 %}initial{% else %}none{% endif %}" class="miscelaneo tipo-tasa">
                                    <div class="input-group">
                                        <label for="{{ form.descripcion.id_for_label }}">{% trans "Descripción" %}</label>
                                            <label class="has-error">{{ form.description.errors }}</label>
                                            {{ form.descripcion|add_class:"form-control" }}
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 lista">
            <div id="tasas-master">
                    <h1>{% trans "Tasas de máster" %}</h1>
                    {%  for form in form_tasas_master %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form.non_field_errors }}
                            {% csrf_token %}
                            <div class="input-group basics">
                                <label class="control-label">
                                    {% trans "Curso académico" %}
                                    <span class="curso"> {{form.curso.value}}/ {% increment form.curso.value %}</span>
                                </label>
                                <br>
{#                                {{ form.tipo.errors }}#}
                                {{ form.tipo|add_class:"form-control tipo-tasa-selector" }}
                                <br><label class="has-error">{{ form.url.errors }}</label>
                                <label for="{{ form.url.id_for_label }}">{% trans "URL" %}</label>
                                    {{ form.url |add_class:"form-control"}}
                            </div>
                            <div class="input-group tasas-data">
                                <div style="display:{% if form.tipo.value == 0 %}initial{% else %}none{% endif %}" class="porcredito tipo-tasa">
                                    <label>{% trans "Precios por crédito" %}</label>
                                    <div class="input-group">
                                        <label for="{{ form.tasas1.id_for_label }}">{% trans "Primera convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas1.errors }}</label>
                                            {{ form.tasas1|add_class:"form-control" }}<br>
                                        <label for="{{ form.tasas2.id_for_label }}">{% trans "Segunda convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas2.errors }}</label>
                                            {{ form.tasas2|add_class:"form-control" }}<br>
                                        <label for="{{ form.tasas3.id_for_label }}">{% trans "Tercera convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas3.errors }}</label>
                                            {{ form.tasas3|add_class:"form-control" }}<br>
                                        <label for="{{ form.tasas4.id_for_label }}">{% trans "Cuarta convocatoria" %}</label>
                                            <label class="has-error">{{ form.tasas4.errors }}</label>
                                            {{ form.tasas4|add_class:"form-control" }}<br>
                                    </div><br>
                                </div>
                                <div style="display:{% if form.tipo.value == 1 %}initial{% else %}none{% endif %}" class="global tipo-tasa">
                                    <div class="input-group">
                                        <label for="{{ form.tasa_global.id_for_label }}">{% trans "Tasa global" %}</label>
                                            <label class="has-error">{{ form.tasa_global.errors }}</label>
                                            {{ form.tasa_global|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div style="display:{% if form.tipo.value == 2 %}initial{% else %}none{% endif %}" class="miscelaneo tipo-tasa">
                                    <div class="input-group">
                                        <label for="{{ form.descripcion.id_for_label }}">{% trans "Descripción" %}</label>
                                            <label class="has-error">{{ form.descripcion.errors }}</label>
                                            {{ form.descripcion|add_class:"form-control" }}
                                    </div>
                                </div><br>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <input id="submit-tasas" class="btn btn-success" style="width:90%; margin-top:10px;margin-bottom:10px;" type="submit" value="{% trans "Actualizar tasas" %}">
            </div>
        </div>
    </form>



{#                      <br>{{form.tipo.errors}}#}
{#                      <div class="input-group">#}
{#                        <select name="{{form.prefix}}-{{form.tipo.name}}" class="form-control tipo-tasa">#}
{#                          {% for tasa in tipos_tasas %}#}
{#                          {% if tasa.0 == form.tipo.value|default_if_none:"" %}#}
{#                          <option value="{{tasa.0}}" selected>{{tasa.1}}</option>{% else %}#}
{#                          <option value="{{tasa.0}}">{{tasa.1}}</option>{% endif %}#}
{#                          {% endfor %}#}
{#                        </select>#}




{#                      <div style="display:{% if form.tipo.value == '1' %}initial{% else %}none{% endif %}" class="global tipo">#}
{#                        <div class="input-group">#}
{#                          <input name="{{form.prefix}}-{{form.tasa_global.name}}" type="text" placeholder="{{form.tasa_global.help_text}}" value="{{form.global.value|default_if_none:''}}" class="form-control">#}
{#                        </div>#}
{#                      </div><br>#}
{#                      <div style="display:{% if form.tipo.value == '2' %}initial{% else %}none{% endif %}" class="miscelaneo">#}
{#                        <div class="input-group">#}
{#                          <textarea name="{{form.prefix}}-{{form.descripcion.name}}" placeholder="{{form.descripcion.help_text}}" value="{{form.descripcion.value|default_if_none:''}" class="form-control"></textarea>#}
{#                        </div>#}
{#                      </div><br>#}
{#                    </div>#}
{#                  </div>{% endfor %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <div class="col-md-6 lista">#}
{#              <div class="list-tasas">#}
{#                <div id="tasas-master">#}
{#                  <h1>Tasas de máster</h1>{% for form in form_tasas_master %}#}
{#                  <div class="panel panel-default">#}
{#                    <div class="panel-body">#}
{#                      {{ form.non_field_errors }}#}
{#                      {% csrf_token %}#}
{#                      <div class="input-group">#}
{#                        <label class="control-label">Curso académico <span class="curso">{# {{form.curso.value}}/ {% increment form.curso.value %} </span></label>#}
{#                      </div><br>{{form.tipo.errors}}#}
{#                      <div class="input-group">#}
{#                        <select name="{{form.prefix}}-{{form.tipo.name}}" class="form-control tipo-tasa">#}
{#                          {% for tasa in tipos_tasas %}#}
{#                          {% if tasa.0 == form.tipo.value|default_if_none:"" %}#}
{#                          <option value="{{tasa.0}}" selected>{{tasa.1}}</option>{% else %}#}
{#                          <option value="{{tasa.0}}">{{tasa.1}}</option>{% endif %}#}
{#                          {% endfor %}#}
{#                        </select>#}
{#                      </div><br>{{form.url.errors}}#}
{#                      <div class="input-group">#}
{#                        <input name="{{form.prefix}}-{{form.url.name}}" type="url" placeholder="{{form.url.help_text}}" value="{{form.url.value|default_if_none:''}}" class="form-control">#}
{#                      </div><br>#}
{#                      <div style="display:{% if form.tipo.value == '0' or form.tipo.value == None %}initial{% else %}none{% endif %}" class="porcredito tipo">{{form.tasas1.errors}}#}
{#                        <div class="input-group">#}
{#                          <input name="{{form.prefix}}-{{form.tasas1.name}}" type="number" placeholder="{{form.tasas1.help_text}}" value="{{form.tasas1.value|default_if_none:''}}" class="form-control">#}
{#                        </div><br>{{form.tasas2.errors}}#}
{#                        <div class="input-group">#}
{#                          <input name="{{form.prefix}}-{{form.tasas2.name}}" type="number" placeholder="{{form.tasas2.help_text}}" value="{{form.tasas2.value|default_if_none:''}}" class="form-control">#}
{#                        </div><br>{{form.tasas3.errors}}#}
{#                        <div class="input-group">#}
{#                          <input name="{{form.prefix}}-{{form.tasas3.name}}" type="number" placeholder="{{form.tasas3.help_text}}" value="{{form.tasas3.value|default_if_none:''}}" class="form-control">#}
{#                        </div><br>{{form.tasas4.errors}}#}
{#                        <div class="input-group">#}
{#                          <input name="{{form.prefix}}-{{form.tasas4.name}}" type="number" placeholder="{{form.tasas4.help_text}}" value="{{form.tasas4.value|default_if_none:''}}" class="form-control">#}
{#                        </div><br>#}
{#                      </div>#}
{#                      <div style="display:{% if form.tipo.value == '1' %}initial{% else %}none{% endif %}" class="global tipo">#}
{#                        <div class="input-group">#}
{#                          <input name="{{form.prefix}}-{{form.tasa_global.name}}" type="text" placeholder="{{form.tasa_global.help_text}}" value="{{form.global.value|default_if_none:''}}" class="form-control">#}
{#                        </div>#}
{#                      </div><br>#}
{#                      <div style="display:{% if form.tipo.value == '2' %}initial{% else %}none{% endif %}" class="miscelaneo">#}
{#                        <div class="input-group">#}
{#                          <textarea name="{{form.prefix}}-{{form.descripcion.name}}" placeholder="{{form.descripcion.help_text}}" value="{{form.descripcion.value|default_if_none:''}" class="form-control"></textarea>#}
{#                        </div>#}
{#                      </div><br>#}
{#                    </div>#}
{#                  </div>{% endfor %}#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#            <input type="submit" value="Actualizar tasas" class="btn btn-success">#}
{#          </form>#}
{% endblock content %}
